# Costum
alias ottovpn="sudo /home/max/ownCloud/VPN/otto/start.sh"
alias iteratecvpn="sudo /home/max/ownCloud/VPN/iteratec/start.sh"
alias yk="ykman oath code | awk '{ print \$2 }' | xclip"
alias feh="feh --scale-down"
alias awsp="source _awsp"
alias v="nvim"
